*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --lightest-color:#bef0ff;
    --darkest-color: rgb(52, 58, 64);
    --complementary-color:rgb(65, 59, 53);
    --accent-color: #d1b16c;
}
/* Navigation Menu */
header {
    background-color: var(--darkest-color);
    padding: 0px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* make nav menu always appear on top */
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid var(--accent-color);
    }
    /* adjust size of logo image */
.logo {
    width: 70;
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: var(--lightest-color);
}
header nav {
    margin: 10px 0;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight:bolder;
    color: var(--lightest-color);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    }
/* create box when hovering over nav item */

body {
    background-image: linear-gradient(to right, var(--complementary-color), var(--darkest-color));
    color: var(--lightest-color);
}
.hero {
    min-height: 576;

}
.hero-cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 0px;

}
#welcome {
    padding: 30, 30, 15, 30;
    font-size: 19px;
}
#welcome span {
    font-size: 20px;
}
#name {
    color: var(--accent-color);
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(26, 25, 25, 0.5);
    padding: 10px;
    margin-bottom: 0;
}
#fullstack {
    color: white;
    font-weight: bolder;
    font-size:18px;
    text-shadow: 1px 1px 8px rgba(26, 25, 25, 0.5);
    margin-bottom: 40px;
}
.hero-cta article {
    padding: 15px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.hero-cta article p {
    text-align: center;
    padding: 3px;
}
#contact {
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: var(--accent-color);
    width:160;
    padding: 14px;
    border-radius: 40px;
    text-shadow: 0100px 100px 100px rgba(26, 25, 25, 0.5);
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow:  1px 1px 9px rgba(26, 25, 25, 0.5);
}
/* end of main page */
/* ABOUT ME */
.about-me {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid var(--accent-color);
    min-height: 756px;
}
#portrait {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -8px -8px 0  var(--accent-color);
    margin-top: 10%;
}
.section-title {
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid;
    margin: 20 auto 0 auto;
    width: 50%;
    padding-bottom: 5px;
}
.text {
    text-align: center;
    padding:  30 30 20 30;
}
/* end of about me */
/* Portfolio Section */
#portfolio-section {
    min-height: 756px;
    border-bottom: 1px solid var(--accent-color);
}
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#myportfolio-title {
    padding-top: 5px;
    margin-bottom: 30px;
}
.caption {
    font-size: 10px;
    text-align: center;
    background-color: var();
}
.project-image {
        width: 90%;
        border: 3px solid var(--accent-color);
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;
}
.other-projects {
    width: 50%;
    padding: 10px 0 10px 0;
}
/* end of projects section */
#contact-me {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--accent-color);
}
.contact-me span {
font-size: 18px;
color: var(--accent-color);
text-shadow: 1px 1px 8px rgba(26, 25, 25, 0.5);
}
.contact-flex {
    display: flex;
    flex-direction: column;
}
.left-icons {
    display: flex;
    flex-direction: column;
}
.contact-info {
    display: flex;
}
.contact-icon {
    width: 20%;
    flex: 0 40%;
}
.icono {
    margin-left: 90;
}
#location {
    width: 20%;
}
#mail {
    width: 21%;
}
#phone {
    width: 22%;
}
address p {
    flex: 1;
}
/* Start of form */
.form-input{
   width: 80%;
   display: block;
   padding:7px 15px;
   border: 3px solid var(--accent-color);
   color: var(--accent-color);
   font-size: 15px;
   margin: 27px auto 0px auto;
   border-radius: 20px;
   background-color: rgba(52, 58, 64);
   margin-bottom: 30px;
}
.form-input:focus {
    background-color: rgba(65, 59, 63);
}
#contact-message {
    padding: 55px;
}
button {
    display: block;
    color: var(--complementary-color);
    background-color: var(--accent-color);
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px;
    width: 150px;
    margin: 20 auto 20 auto;
}
footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkest-color);
    padding-bottom: 10px;
}
footer div {
    display: flex;
    padding: 0 60px;
    justify-content: center;
}
footer div a {
    width: 13%;
    padding: 3%;

}
footer div img {
    width: 100%;
    margin: 0;
}
/* end of styling of mobile */

/* desktop styling */
@media screen and (min-width: 768px) {
    * {
     cursor: pointer;
    }
    header {
        justify-content: space-between;
    }
    header nav {
        margin: 22px 0;
    }
    header nav ul li a {
        font-size: 20px;
        font-weight: normal;
    }
    nav ul li a:hover {
        background: var(--accent-color);
        border-radius: 40px;
    }
    .logo {
        width: 80;
        margin-left: 0;
        padding-bottom: 4px;
    }
    #welcome {
        font-size: 20px;
        letter-spacing: 3px;
    }
    #name {
        font-size: 30px;
    }
    .hero-cta article {
        font-size: 20px;
    }
    #fullstack {
        font-size: 22px;
    }
    #contact {
        font-size: 20px;
    }
    .hero-cta {
        height: 680;
        padding-top: 0;
    }
    .about-me {
        padding-top: 5%;
        display: flex;
        flex: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 8%;
    }
    #portrait {
        width: 100%;
    }
    #portrait-div {
        width: 25%;
        padding-top:5%;
        margin-left: 100;
    }
    #aboutme-text-div {
        width:50%;
        display: inline;
    }
    #myportfolio-title {
        width: 35%;    }
    .portfolio {
    display: flex;
    flex-direction: row;
    }
    .first-project  {
        width: 160%;
        }
    .projects {
            width: 100%;
        }
        .contact-info {
            display: flex;
            flex-direction: row;
        }
        .contact-icon {
            width: 20%;
            flex: 0 40%;
            padding-top: 30px;
        }
        /* .icono {
            margin-left: 400;
        } */
        #location {
            width: 39%;
        }
        #mail {
            width: 40%;
        }
        #phone {
            width: 40%;
        }
    /* .contact-icon {
        margin-left: 250px;
        padding-top: 30px;
        }*/
    .contact-flex {
        display: flex;
        flex-direction: row;
    }
    address {
        width:40%;
        margin-left: 7%
    }
    address p {
        font-size: 20px;
        /* margin-left: 44px; */
        padding-top: 50px;
        }
    .contact-me h3 {
            width:30%;
        }
    .contact-me p {
        font-size: 22px;
        padding-bottom: 50px;
    }
    .contact-me span {
        font-size: 27px;
    }
    form {
        width: 60%;
    }
    .form-input {
        width: 70%;
        padding: 20px;
        border-radius: 50px;
    }
    footer div {
        display: flex;
        padding: 0 90px;
        justify-content: center;
    }
    footer div a {
        padding: 2%;
        margin: 0;
        width: 7%;
    }
    footer div img {
        width: 100%;
        margin: 0;
    }
}
/* end of desktop styling */

/* start of ipad styling */
@media screen and (min-width: 575px) {
    #portfolio-section {
        padding-top:30px;
        min-height: 500px;
    }
    .contact-me p {font-size: 18px;}
    .contact-me span {font-size: 20px;}
    .icono {
        margin-left:10%;
    }
    #mail {
        width: 60%
    }
    .contact-icon { padding: 0;}
    address p{ padding: 0;
    font-size: 22px;}
    address a {font-size: 22px};
    .form-input { padding: 10git px;
        margin: 20px auto 0 auto}
    .contact-me {
        min-height: 880px;
    }

}